footer {
  background-color: #f7f7f7;
  h2 {
    padding: 50px 0 20px 0;
    text-align: center;
    color: #6a9ac8;
  }
  a {
    text-align: center;
    color: #8f8b86;
    display: block;
    text-decoration: none;
    padding: 0 0 50px 0;
  }
}
