$primary_color: #3199dc;
$secondary_color: #f7f7f7;
$third_color: #2f7bb8;
$primary_font_color: #4fa8e1;
$secondary_font_color: #303030;
$third_font_color: #8a8a8a;
$fourth_font_color: #a4a4a4;
$white_color: #FFF;
